<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ActivationWSSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ActivationWSSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://licenseroniza.azurewebsites.net/ActivationWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="ActivationWSSoap"
                contract="RZDCX.ActivationWSSoap" name="ActivationWSSoap" />
        </client>
    </system.serviceModel>
</configuration>